<div class='login-container'>
  <div class="left-container">
    <!-- <img src="/assets/Img/img1.jpg" alt="pic"> -->
  </div>
  <div class='formContainer'>
    <form [formGroup]="loginForm">

      <div class="input-container">
        <div class='head'>
          <h3>Login</h3>
        </div>
        <label for="username">Username:</label>
        <div class="user">
          <i class="bi bi-person-circle"></i>
          <input type="text" placeholder='username' formControlName="username" />
        </div>
        <span class="error"
          *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">Username
          required</span>
        <label for="password">Password:</label>
        <div class="eye-catcher">
          <i class="bi bi-lock-fill"></i>
          <input [type]="changeType? 'password':'text'" placeholder='password' formControlName="password" />
          <i (click)="viewpass()" [ngClass]="visible? 'bi bi-eye-fill':'bi bi-eye-slash-fill'"></i>
        </div>
        <span class="error"
          *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">Password
          required</span>
        <span class="error"
          *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')">Min 8
          characters
          required</span>
        <button (click)="onLogin()">Login</button>
        <span *ngIf="isButtonClicked && loginForm.isInvalid">{{errorMsg}}</span>
      </div>
    </form>

  </div>
</div>