<div class="primary">
    <div class="row my-3 mx-3">
        <div class="image col-3">
            This is the container for image
        </div>
        <div class=" col-5">

            <p><i class="bi bi-person-fill"></i>&nbsp;Name : {{getFullName()}}</p>
            <!-- {{myForm.get('name')?.value}} -->
            <p><i class="bi bi-telephone-fill"></i>&nbsp;Phone : {{getPhone()}}</p>
            <p><i class="bi bi-person-fill-gear"></i>&nbsp;User type : {{getUserType()}}</p>
            <p><i class="bi bi-envelope-fill"></i> &nbsp; Email : {{getEmail()}}</p>
            <p><i class="bi bi-geo-alt-fill"></i> &nbsp; Address : {{getAddress()}}</p>

        </div>
        <hr>
        <p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateUser">Edit
                Profile</button> &nbsp;

            <button class="btn btn-secondary"data-bs-toggle="modal" data-bs-target="#changePass">Change password</button>
        </p>
    </div>

    <!-- update details -->
    <div class="modal fade" id="updateUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-update-profile
                    
                    [update-profile]="updateprofile"></app-update-profile>
                    <!-- we are sending the value to the child component for patch -->
                </div>
            </div>
        </div>
    </div>
    <!-- //Password  -->
    <div class="modal fade" id="changePass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePassLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <app-change-pass></app-change-pass>
                </div>
            </div>
        </div>
    </div>



</div>