.primary{
    position : relative;
    top: 0vh;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.image{
    height: 200px;
    width: 200px;
    background-color: rgb(81, 105, 105);
}
button{
   color: black;
}
button:hover{
    background-color: rgb(233, 0, 0);
}

/* .nav-link:focus{
    background-color: white;
} */


.nav.nav-tabs{
    width: 270px;
    height: 40px;
    background-color: rgb(120 160 121);
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: none;
}
.nav-link{
    height: 36px;
    /* border: none; */
    border-radius: 10px;
}





  
