 .sidebar-container {
    position: relative;

  }
  
  header.sidebar-header {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  a.link {  
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    padding-left: 30px;
    line-height: 20px;
    color: black;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header.sidebar-header:hover {
    cursor: pointer;
  }
  
  a.link:hover {
    cursor: pointer;
    background-color: #e6e9eb;
  }

  li.list {
    list-style: none;
    border-radius: 8px;
    display: flex;
  }
  
  .ulist {
    width: 100%;
    margin-top: 5px;
    border-radius: 7px;
    padding-left:0;
  }

.dropdown:hover .dropdown-menu{
  display: block;
  margin-left: 195px;
}
.dropdown .list{
  display: none;
}
.dropdown .dropdown-toggle:active{
  /* display: none; */
  pointer-events: none; 
}

.dropdown-item:hover{
  cursor: pointer;
}
.dropdown-menu{
  margin-left: 195px;
}
.dropdown-item{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 60px;
}