<div class="sidebar-container left" id="wrapper">
    <header class="sidebar-header">Sidebar</header>
    <ul class="ulist">
        <!-- <li class="list"><a class="link" routerLink="/dashboard">Dashboard</a></li> -->

            <li class="list dropdown btn-group dropend">
                <a type="button" class="link" role="button" id="dashboardDropdown">Dashboard<i class="fa fa-angle-right mt-1" style="opacity: 0.6;margin-left:41px;"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                    <li><a class="dropdown-item" routerLink="/dashboard">Analytics</a></li>
                    <li><a class="dropdown-item" routerLink="/popular-product">Popular Products</a></li>
                </ul>
            </li>
       

        <li class="list"><a class="link" routerLink="/product-list">Product </a></li>
        <li class="list"><a class="link" routerLink="/category-list">Category</a></li>
        <li class="list"><a class="link" routerLink="/order-list">Orders</a></li>
        <li class="list"><a class="link" routerLink="/customer-list">Customer</a></li>

        <li class="list dropdown dropend" *ngIf="hasRole">
            <a class="link" role="button" id="dropdownMenuLink">Settings<i class="fa fa-angle-right mt-1" style="opacity: 0.6;margin-left:62px;"></i></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/user-list">User List</a></li>
            </ul>
        </li>
    </ul>
</div>

