<div class="row mb-5 ms-4 firstrow" *ngIf="todayData && revenueData">
    <div class="col-sm-2">
        <div class=" common text-center" style="background-color:rgba(255,0,0,0.4);;">
            <i class="bi bi-currency-dollar" style="font-size:70px; margin:0;"></i>
            <div>
                <h4>Total Revenue</h4>
                <h4>Rs.{{revenueData.totalAmount}}</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <div class="common" style="background-color: rgba(0,0,255,0.4);">
            <i class="bi bi-cart-fill ms-1" style="font-size:70px;"></i>
            <div>
                <h4 class="row ms-2">Daily Requests</h4>
                <h4 class="row ms-5" *ngIf="todayData">{{todayData.totalQuantity}}</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <div class="common" style="background-color:rgba(0,255,0,0.4);;">
            <i class="bi bi-percent ms-1" style="font-size:70px;"></i>
            <div>
                <h4 class="row ms-1">Daily Sales</h4>
                <h4 class="row ms-2">Rs.{{todayData.totalAmount}}</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <div class="common" style="background-color:rgba(255,255,0,0.4);;">
            <i class="bi bi-basket3-fill" style="font-size:70px;"></i>
            <div>
                <h4 class="row ms-2">Total Requests</h4>
                <h4 class="row ms-5">20</h4>
            </div>
        </div>
    </div>
</div>


<!-- <canvas bases -->
<div class="row">
    <div class="col-sm-6 classpiechart">
        <canvas baseChart type="pie" [data]="pieData" [options]="pieOptions">
        </canvas>
    </div>

    <!-- <div class="col-sm-6">
        <canvas baseChart type="bar" [data]="barData" [options]="barOptions">
        </canvas>
    </div> -->
    <div class="col-sm-6 classbargraph" style="position:relative; ">
        <canvas baseChart type="bar" [data]="barOrderData" [options]="barOrderOptions"  height="200">
        </canvas>
    </div>
</div>




<!-- Revenue vs order line chart -->