.firstrow{
    height:160px;
}

.common{
    width:250px;
    height:140px;
    border-radius: 10px ;
    display: flex;
    align-items: center;
}
.secondrow{
    height:500px
}
.classpiechart{
    height:400px;
    width: 400px;
    margin-left: 30px;
}
.classbargraph{
    /* height: 500px; */
    width: 560px;
    margin-left: 200px;
}

