.firstrow{
    height:160px;
}

.common{
    width:250px;
    height:140px;
    border-radius: 10px ;
    display: flex;
    align-items: center;
}
.secondrow{
    height:500px
}
.classpiechart{
    height:480px;
    width: 400px;
    margin-left: 30px;
    /* border: 2px solid black; */
    background-color: white;
}
.classbargraph{
    background-color: white;
    height: 480px;
    width: 400px;
    margin-left: 30px;
    /* border: 2px solid black; */
}

