<div class="nav-wrapper">
  <nav class="navbar1">
    <div class="img">Hello {{fullName}}</div>
    <ul class="navigation">
      <div class="dropdown">
        <a class=" btn dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user"></i>User
        </a>
        
        <ul class="dropdown-menu">
          <li class="dropdown-item" routerLink="/profile"><a>Profile </a></li>
          <li class="dropdown-item" (click)="onLogout()"><a>Logout</a></li>
        </ul>
      </div>
    </ul>

  </nav>
</div>