.column-second{
    position: relative;
}

  .row{
    position: relative;
  }

  /* div.row div{
    position: absolute;
    top: 17px;
  } */
.div-error{
  position: absolute;
    top: 36px;
}
.bi.bi-eye-fill,
.bi-eye-slash-fill{
  position: absolute;
  top: 8px;
  left: 381px;
}

.form-control{
  background-position: left calc(0.1rem) center;
  padding-left: 20px;
  font-weight: bold;
}
