<div class="column-second pt-4">
    <button class="btn-close" style="position:absolute;right:4px; top:4px;" (click)="cancel()"></button>
    <form [formGroup]="passwordForm" (ngSubmit)="passwordChange()">
        <div class="row  ms-2 mb-4">
            <div class="oldpass">
                <input [type]="changeTypeOld? 'password':'text'" placeholder="Old password" class="form-control "
                    id="oldPassword" [ngClass]="{'is-invalid':submitted && getFormControl.oldPassword.errors }"
                    formControlName="oldPassword">
                <i (click)="viewpassOld()" [ngClass]="visibleOld? 'bi bi-eye-fill':'bi bi-eye-slash-fill'"></i>

                <div *ngIf="submitted && getFormControl.oldPassword.errors"
                    class="invalid-feedback text-danger div-error">
                    <div *ngIf="getFormControl.oldPassword.errors?.required">Old password is required</div>
                </div>
                <div *ngIf="submitted && getFormControl.oldPassword.errors"
                    class="invalid-feedback text-danger div-error">
                    <div *ngIf="getFormControl.oldPassword.errors?.pattern">Enter valid password
                    </div>
                </div>
            </div>


        </div>

        <div class="row ms-2 mb-4">
            <div class="newPass">
                <input [type]="changeTypeNew? 'password':'text'" placeholder="New password" class="form-control p-9"
                    id="newPassword" [ngClass]="{'is-invalid':submitted && getFormControl.newPassword.errors }"
                    formControlName="newPassword">
                <i (click)="viewpassNew()" [ngClass]="visibleNew? 'bi bi-eye-fill':'bi bi-eye-slash-fill'"></i>

                <div *ngIf="submitted && getFormControl.newPassword.errors"
                    class="invalid-feedback text-danger div-error">
                    <div *ngIf="getFormControl.newPassword.errors?.required">New password is required</div>
                </div>

                <div *ngIf="submitted && getFormControl.newPassword.errors"
                    class="invalid-feedback text-danger div-error">
                    <div *ngIf="getFormControl.newPassword.errors?.pattern">Enter valid password
                    </div>
                </div>
            </div>



        </div>

        <!-- <div class="row my-4">
            <input type="text" placeholder="Confirm new password" class="form-control" id="confirmPassword"
                [ngClass]="{'is-invalid':submitted && getFormControl.confirmPassword.errors }"
                formControlName="confirmPassword">


            <div *ngIf="submitted && getFormControl.confirmPassword.errors" class="invalid-feedback text-danger">
                <div *ngIf="getFormControl.confirmPassword.errors?.required">New password is required</div>
            </div>

            <div *ngIf="submitted && getFormControl.confirmPassword.errors" class="invalid-feedback text-danger">
                <div *ngIf="getFormControl.confirmPassword.errors?.pattern">Enter valid password
                </div>
            </div>
        </div> -->

        <button type="submit" class="btn btn-success ms-4">Confirm</button>
    </form>
    <footer>
        <div class="m-2" style="font-size:small"><span class="text-danger">*Note:</span> Password must be 8+
            characters with at least one digit,
            special character, lowercase, and uppercase.</div>
    </footer>

</div>