.column-second{
    height: 35vh;
    width: 30vw;
    border-radius: 5px;
    position: relative;
    right: 0;
}
input {
    border: 1px solid #ccc;
    padding: 0.3rem;
    width: 16vw;
    border-radius: 5px;
  }
  
  /* Active state */
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Value present state */
    input:not(:placeholder-shown) {
        border-color: #007bff;
    }
  
