.nav-item{
    margin-right: 10px;
    height: 34px;
    border-radius: 20px;
    font-style: none;
}
.listbutton.active{
    background-color: rgb(135 190 224);
    border-radius: 20px;
}

.listbutton{
    border: none;
    border-radius: 20px;
}
.btn{
    height:34px;
}

.nav-tabs{
    height: 45px;
    background-color: white;
    width: 210px;
    align-items: center;
    border-radius: 10px;
}