<div *ngIf="productData">
  <div class="row imageContainer">
    <div class="col-sm-5">
      <div class="title">Name:
        <p class="content">{{productData.name}}</p>
      </div>
      <div class="title">Description:
        <p class="content">{{productData.description}}</p>
      </div>
      <div class="title">Price:
        <p class="content">{{productData.price}}</p>
      </div>
      <div class="title">Created By:
        <p class="content">{{productData  .createdBy}}</p>
      </div>
      <div class="title">Product Status:
        <p class="content">{{productStatus}}</p>
      </div>
      <div class="title">Category:
        <div class="content" *ngFor="let product of productData.categories ">{{product.categoryName}}</div>
      </div>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    <form class="col-sm-7 ">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let item of productData.imageLists; index as i">
          <div class="picsum-img-wrapper">
            <img [src]="item.imageUrl" alt="Random first slide" height="295px" width="465px">
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="image_caption" style=" color:black">Slide for more images</div>
    </form>
  </div>
</div>