<div class="second row mx-1 modal-content">


    <form class="my-3" [formGroup]="editForm" (ngSubmit)="saveChanges()">    
        <div class="row">
            <div class="col-5">
                <label for="fullName">Name</label>
                <input type="text" id="fullName" class="form-control p-10"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.fullName.errors }" placeholder="Name"
                    formControlName="fullName">
                <div *ngIf="submitted && getFormControl.fullName.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.fullName.errors?.required">Full Name is required.</div>
                </div>
            </div>

            <div class="col-5 mx-3">
                <label for="phone">Phone</label>
                <input type="text" placeholder="Phone" class="form-control p-10"
                    [ngClass]="{'is-invalid':submitted && getFormControl.phoneNumber.errors }"
                    formControlName="phoneNumber">

                <div *ngIf="submitted && getFormControl.phoneNumber.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.phoneNumber.errors?.required">Phone number is required.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5"> 
                <label for="email">Email</label>
                <input type="text" placeholder="Email" class="form-control p-10"
                    [ngClass]="{'is-invalid':submitted && getFormControl.email.errors}" formControlName="email">

                <div *ngIf="submitted && getFormControl.email.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.email.errors?.required">Email is required.</div>
                </div>

            </div>
            <div class="col-5 mx-3">
                <label for="address">Address</label>
                <input type="text" placeholder="Address" class="form-control p-10"
                    [ngClass]="{'is-invalid':submitted && getFormControl.address.errors}" formControlName="address">

                <div *ngIf="submitted && getFormControl.address.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.address.errors?.required">Address is required.</div>
                </div>
            </div>

        </div>
        <p>
            <button type="submit" class="btn btn-success my-3" data-bs-dismiss="modal" aria-label="Close">Save
                Changes</button>
        </p>
    </form>
</div>